/* App.css */

.App {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 1em;
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1em;
  height: auto; /* Allow the input box to grow in height based on content */
  min-height: 50px; /* Set a minimum height to prevent it from collapsing completely */
  overflow: hidden; /* Ensure the content is not visible outside the box */
  resize: none;
}

.submit-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 16px;
  font-size: 1em;
  cursor: pointer;
}